html {
  box-sizing: border-box;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  min-width: 320px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  line-height: 1.35em;
  letter-spacing: .022em;
  color: var(--color-text-main);

  background-color: var(--color-body);
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.Container {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $screen-xl) {
    max-width: 1280px;
    padding: 0 20px;
  }
}

.Modal {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &-Menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--color-body);
  }

  &-Close {
    cursor: pointer;

    span {
      width: 20px;
      height: 1px;
      display: block;
      background-color: var(--color-text-main);
      transform: rotateZ(45deg);

      &:first-child {
        transform: rotateZ(-45deg);
      }
    }
  }

  &-Logo {
    width: 88px;
    height: 60px;
    background-image: url(./../assets/image/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.Digit {
  font-family: 'Cormorant Infant', 'Cormorant Garamond', sans-serif;
  font-weight: 700;
}

.Decor {
  width: 100%;
  position: absolute;
  top: 50%;
  left: -58%;
  transform: rotateZ(-90deg);
  display: flex;
  align-items: center;

    &-Line {
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--color-bg-decor);
    }

  &-Text {
    font-size: 16px;
    color: var(--color-text-decor);
    white-space: nowrap;
    padding: 0 14px;
  }

  .Left {
    width: 60%;
  }

  .Right {
    //margin-top: 4px;
  }
}