.Title {
  font-family: 'Cormorant Garamond', 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.31em;
  letter-spacing: .022em;
  color: var(--color-text-main);
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    font-size: 42px;
  }
}

.SubTitle {
  font-size: 16px;
  color: var(--color-text-main2);

  @media (min-width: $screen-m) {
    font-size: 18px;
  }
}

.Title--h3 {
  font-family: 'Cormorant Garamond', 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35em;
  letter-spacing: .015em;
  text-transform: uppercase;
  color: var(--color-text-ghost);
  @media (min-width: $screen-m) {
    font-size: 38px;
  }
}

.Title--h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.462;
  letter-spacing: .045em;
  color: var(--color-text-dark);

  @media (min-width: $screen-l) {
    font-size: 24px;
  }

 /* @media (min-width: $screen-xl) {
    font-size: 24px;
  }*/
}