.Title {
  font-family: 'Cormorant Garamond', 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.31em;
  letter-spacing: .022em;
  text-transform: uppercase;
}

.SubTitle {
  font-size: 18px;
}